.input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  border: 2px solid black;
  width: 40%;
  padding-bottom: 10px;
}

.layout {
  display: flex;
  justify-content: center;
}

.input {
  border: 2px solid black;
  height: 40px;
  border-radius: 4px;
  margin-top: 10px;
}

.label {
  font-size: 24px;
  margin-right: 50px;
  width: 200px;
}

button {
  width: 128px;
  height: 48px;
  margin-top: 20px;
  background-color: rgb(42, 105, 105);
  border: 2px solid rgb(42, 105, 105);
  border-radius: 9999px;
}

.table {
  margin-top: 20px;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.table-layout {
  display: flex;
  justify-content: flex-start;
}
