.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
  align-items: center;
  border: 2px solid rgb(28, 80, 80);
  width: 25%;
  background-color: rgb(29, 110, 148);
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.select {
  display: flex;
  justify-content: space-between;
}

.weather {
  display: flex;
  flex-direction: column;
}

select {
  background-color: aquamarine;
  height: 30px;
  border: 2px solid rgb(28, 80, 80);
  border-radius: 20px;
  margin-left: 20px;
}
